* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  cursor: none;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(187, 182, 182);
}

#nav {
  height: 10%;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav #nav-part1 {
  height: 100%;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#nav-part1 .icon {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 900;
  
}
#nav-part1 #home-icon{
  font-size: 20px;
  font-weight: 500;
}
.icon i {
  font-size: 15px;
  margin-right: 2px;
  
  
}
#nav-part2 .two {
  margin: 0 5px;
  height: 40px;
  width: 60px;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}
#Title {
  color: rgb(7, 77, 7);
  text-decoration: underline;
  cursor: pointer;
  
  
}

#Title i{
  margin: 0px 6px;
  color: rgb(85, 37, 4);
  
}
#hero {
  height: 80%;
  width: 100%;
  /* background-color: beige; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#hero h1 {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
}
#hero img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 300px;
  border: none;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}
#img1 {
  transform: translate(-50%, -50%) rotate(-10deg);
  opacity: 0.3;
}
#img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
  opacity: 0.4;
}
#img3 {
  transform: translate(-50%, -50%) rotate(-30deg);
  opacity: 0.5;
}
#img4 {
  transform: translate(-50%, -50%) rotate(-40deg);
  opacity: 0.2;
}
#img5 {
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
#nav-btm {
  margin: 0px 5px;
  font-family: cursive;
  font-style: italic;
  /* background-color: black; */
  height: 45px;
  width: 50%;
}
#nav-btm h3 {
  color: rgb(132, 58, 5);
  margin-left: 15px;
  margin-bottom: 20px;
  /* background-color: black; */
}




#cursor {
  position: fixed;             
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(186, 142, 142);
  pointer-events: none;  
  transform: translate(-50%, -50%);
  z-index: 999;
  mix-blend-mode: difference;
}



#cursor-img {
  position: fixed;  
  width: 60px;
  height: 60px;
  border-radius: 50%;        
  object-fit: cover;
  pointer-events: none;  
  transform: translate(-50%, -50%);
  z-index: 1000;
  mix-blend-mode: difference;
  display: none; 
}


